[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[lt]=Rodo esamą procesoriaus apkrovą
Name[lt]=Procesoriaus prižiūryklė
